[Unit]
Description=Robot Voice Assistant - Audio Input
After=network.target robot-session.service

[Service]
Type=simple
User=saptapi
WorkingDirectory=/home/saptapi/robot
ExecStart=/home/saptapi/robot/venv/bin/python /home/saptapi/robot/modules/audio_input.py
StandardOutput=append:/home/saptapi/robot/logs/audio.log
StandardError=append:/home/saptapi/robot/logs/audio.log
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
